In [105]:
#https://towardsdatascience.com/the-simplest-data-science-project-using-pandas-matplotlib-9d7042e7ce6f
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv("amazon.csv", thousands = '.')
print(df)

      year      state     month  number        date
0     1998       Acre   Janeiro       0  1998-01-01
1     1999       Acre   Janeiro       0  1999-01-01
2     2000       Acre   Janeiro       0  2000-01-01
3     2001       Acre   Janeiro       0  2001-01-01
4     2002       Acre   Janeiro       0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro     128  2012-01-01
6450  2013  Tocantins  Dezembro      85  2013-01-01
6451  2014  Tocantins  Dezembro     223  2014-01-01
6452  2015  Tocantins  Dezembro     373  2015-01-01
6453  2016  Tocantins  Dezembro     119  2016-01-01

[6454 rows x 5 columns]

### Conditional Operators on df

In [139]:
#condition - 1
yearc = df['year']==1998
year1998 = df.loc[yearc]

#condition -2
numc = df['number'] == 0
numzero = df.loc[numc]

# single line condition filter
df.loc[df['year']==1998]
df.loc[df['year']>2010]

#other conditional operator
df[df.year > 2010]
df[df['number'] == 0]
df[(df['state']=='Alagoas')]

#multiple conditons
# df[(condition1) | (condition2)]

#multiple conditions - or
df[(df['number'] ==1) | (df['year']>2000)]

#multiple conditions - and
df[(df['month'] == "Janeiro") &  (df['number'] >100)]
print(df)

     year    state     month  number        date
239  1998  Alagoas   Janeiro       0  1998-01-01
240  1999  Alagoas   Janeiro      58  1999-01-01
241  2000  Alagoas   Janeiro      11  2000-01-01
242  2001  Alagoas   Janeiro       5  2001-01-01
243  2002  Alagoas   Janeiro      12  2002-01-01
..    ...      ...       ...     ...         ...
474  2012  Alagoas  Dezembro      59  2012-01-01
475  2013  Alagoas  Dezembro      42  2013-01-01
476  2014  Alagoas  Dezembro      24  2014-01-01
477  2015  Alagoas  Dezembro     136  2015-01-01
478  2016  Alagoas  Dezembro     155  2016-01-01

[240 rows x 5 columns]

In [140]:
df[(df['state'] =='Acre')]

Empty DataFrame
Columns: [year, state, month, number, date]
Index: []