In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('pokemon_data.csv')

In [30]:
#filtering by condition
df.loc[(df["Type 1"] == "Normal")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False
727,659,Bunnelby,Normal,NaN,38,36,38,32,36,57,6,False
728,660,Diggersby,Normal,Ground,85,56,77,50,77,78,6,False
729,661,Fletchling,Normal,Flying,45,50,43,40,38,62,6,False
744,676,Furfrou,Normal,NaN,75,80,60,65,90,102,6,False

In [34]:
#multiple condition
df.loc[(df["HP"]> 100) & (df['Attack']>70) & (df["Type 1"] == "Psychic")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True